<table>
    <tr>
        <th> Course </th>
        <th> Term </th>
    </tr>
    
    {% for course in tabs['parameters'].user_courses %}
        <tr> 
            <td>
                <a href="course?course_ID={{ course.courseID }}"> {{ course.courseName }} </a>  
            </td> 
            <td>
                {{ course.displayedTerm }}
            </td>
        </tr>
    {% else %}
        <p> You aren't enrolled in any courses. Please email your professor or system admin to be added to the system </p>
    
    {% endfor %}
    
</table> 
