Existing Courses<br>

<ul>
{% for course in tabs['parameters'].all_courses %}
    <li> {{ course.courseName }} - {{ course.term }} {{ course.year }}</li>
{% endfor %}
</ul>


<form action="api/new_course" method="post">
    Course Name:<br>
    <input type="text" name="courseName" value="" required>
    <br>
    Course Homepage:<br>
    <input type="text" name="courseURL" value="https://" required>
    <br>
    <label> Term / Year</label><br>
    <select name="courseTerm" required>
    <option value="Winter">Winter</option>
    <option value="Spring">Spring</option>
    <option value="Summer">Summer</option>
    <option value="Fall">Fall</option>
    </select>
    <select name="courseYear" required>
    <option value="{{ tabs['parameters'].this_year }}">{{ tabs['parameters'].this_year }}</option>
    </select>
    <br>
    <input type="submit" value="Submit">
</form>
