<head>
    <title>Project 43{% block title %} | {{ title }}{% endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') | replace('/', '',  1) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') | replace('/', '',  1) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabs.css') | replace('/', '',  1) }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Fonts -->
    
    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='js/tabs.js') | replace('/', '',  1) }}"></script>
</head>
