<!DOCTYPE html>
<html lang="en">
    {% include 'base_templates/header.html' %}
    {% include 'base_templates/page_header.html' %}

    <body>
        <div class="page-content-horiz">
            {% block content %}
            {% endblock %}
        </div>
        
    </body>
    
    {% include 'base_templates/footer.html' %}

</html>
