<ul class="horiz-nav">
    <a href="home"><img id="logo" src="{{ url_for('static', filename='img/logo.png') | replace('/', '',  1) }}"></a>
    <li class="brand">
        <a href="home">Project 43</a>
    </li>
    <li class="item">
        <a href="help">Help</a>
    </li>
    {% if authenticated %}
        <li class="item">
            <a href="courses">Courses</a>
        </li>

        <li class="item">
            <a href="assignments">Assignments</a>
        </li>
        
        {% if permissions.add_users %}
            <li class="item">
                <a href="users">Users</a>
            </li>
        {% endif %}

        {% if (permissions.view_system) %}
            <li class="item">
                <a href="system">System</a>
            </li>
        {% endif %}
        
        <li class="name-section"">
            <span>Welcome, {{ username }}</span>
            <button onclick="window.location.href='api/logout'" class="btn">Logout</button>
        </li>
    {% endif %}
</ul>
