<form action="api/new_user" method="post">
    <fieldset>
        <legend>User information</legend>
        <p>
            <label>User ID</label> <br>
            <input type="text" name="userID" value="">
        </p>
        <p>
            <label>Username</label> <br>
            <input type="text" name="userName" size="15" value="">
        </p>
  </fieldset>
  <input type="submit" value="Submit">
</form>
