<table>
    <tr>
        <th> User Name </th>
        <th> Default Permissions </th>
    </tr>
    
    {% for user in tabs['parameters'].classlists %}
        <tr> 
            <td>
                <a href="user?user_name={{ user.userName }}"> {{ user.userName }} </a>  
            </td> 
            <td>
                {{ user.permissions }}
            </td>
        </tr>
    {% else %}
        <p> There aren't any users enrolled in your courses. </p>
    
    {% endfor %}
    
</table> 
