{% extends '/base_templates/page.html' %}

{% block title %}| Home {% endblock %}

{% block content %}
<div class="center">
    <div class='msg'>
         Something is wrong with what I received. Did you perhaps forget something?
    </div>
    <div>
     {{ message }}
    </div>
{% endblock %}

