{% extends "page.html" %}

{% block content %}
    <div class="center">
        <h1 class="page-title">You're not logged in which ever so suspicious.</h1>
        <div class='msg'>
             Please try again but use the frontdoor this time and not the window.
        </div>
    </div>
{% endblock %}

