{% extends '/base_templates/page.html' %}


{% block content %}
    <div class="center">
	    <h1 class="page-title">You do not have permission to view this page.</h1>
	    <p>If you think I am mistaken please talk to your system admin.</p>
    </div>
{% endblock %}

