{% extends '/base_templates/page.html' %}

{% block title %}| Home {% endblock %}

{% block content %}
    <div class="center">
	    <h1 class="page-title">This is not the page you are looking for.</h1>
	    <div>
            I took a look in back and we don't seem to have that page in stock. Benevolent Big Brother says it was never published.
	    </div>
    </div>
{% endblock %}

