{% extends "page.html" %}


{% block content %}
    <div class="center">
        <h1 class="page-title">I'm sorrry but I can't do that.</h1>
        <div class='msg'>
             That request type is not allowed for this page.
        </div>
    </div>
{% endblock %}

