{% extends "page.html" %}

{% block title %}| Home {% endblock %}

{% block content %}
    <div class="center">
        <h1 class="page-title">The sky is fallinng. Won't you go and tell your admin?</h1>
        <div class='msg'>
             Every so sorry but something went terribly wrong on the server. Please tell your admin how you got here and they may be able to sort it out.
        </div>
    </div>
{% endblock %}

