/* Vertical Nav */

.vertical-nav
{
	background-color: black;
	margin: 0px;
	padding: 0px;
	width: 15%;
	position: fixed;
}

.vertical-nav a
{
	text-decoration: none;
}

ul.vertical-nav
{
	list-style-type: none;
}

.vertical-nav .item
{
	margin: 7px 25px;

}

.vertical-nav .item a
{
	color: white;
}

.vertical-nav .brand
{
	font-size: 30px;
	margin: 30px 25px 20px;
}

.vertical-nav .logo
{
	width: 25px;
	margin-right: 5px;
}

.vertical-nav .brand a
{
	color: #558fed;
}

.vertical-nav .item-header
{
	font-size: 17px;
	font-weight: bold;
	margin: 10px 25px;
	color: white;
}

.nav-section
{
	padding: 10px 0px;
}

.vertical-nav
{
	height: 100%;
}

.name-section
{
	float: right !important;
	margin-top: 23px;
}

.name-section span
{
	color: white;
	margin-right: 15px;
}

.name-section .btn i
{
	color: white;
}

/* Horizontal Nav */

img#logo
{
	width: 70px;
  padding: 20px 10px;
  float: left;
  border-radius: 50%;
  padding-bottom: 18px;
  margin: 0px;
}

ul.horiz-nav
{
    list-style-type: none;
    margin: 0px;
    padding: 0px 10%;
    overflow: hidden;
    background-color: #330072;
}

.horiz-nav li
{
    float: left;
}

.horiz-nav li.item a {
	color: white;
  	font-size: 16px;
}

.horiz-nav li a
{
	display: block;
	color: white;
	text-align: bottom;
	padding: 32px 16px 31px 16px;
	text-decoration: none;
	border-bottom: 0px solid #330072;
}

.horiz-nav li.item a:hover
{
	border-bottom: 4px solid #f2a901;
	box-sizing: border-box;
	padding-bottom: 27px;
}

.horiz-nav li.brand
{
	margin-right: 20px;
	text-align: center;
	margin: 23px 0px 0px;
	text-decoration: none;
}

.horiz-nav .brand a
{
	display: inline;
	font-size: 30px;
	margin: 0px 50px 0px 0;
	padding: 0px;
	border-bottom: 0px;
	margin-right: 20px;
	padding-left: 12px;
}

.horiz-nav .logo
{
	height: 30px;
	display: inline;
}

