table 
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin:1em auto;
}

td, th 
{
    border: 1px solid #b7b4a5;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) 
{
    background-color: #dddddd;
}

tr.uploading td{
  background-color: yellow;
}
