{% set assignment               = tabs['parameters'].assignment %}
{% set user_submission_grades   =  tabs['parameters'].user_submission_grades %}
{% set user_pending_submissions =  tabs['parameters'].user_pending_submissions %}

<h1> {{ assignment.courseName }} {{ assignment.term }} {{ assignment.year }} - {{ assignment.assignmentName }} Due @ {{ assignment.assignmentDueDate }} </h1>
<br>
Assignment requirements can be found at <a href="{{ assignment.assignmentURL }}"> {{ assignment.assignmentURL }} </a>.
<br>

<table>
    <tr>
        <td> 
            Grading Policy
        </td>
        <td>
            Your grade is based on the last submission (late or otherwise).
        </td> 
    </tr>

    <tr>
        <td> 
            Late Policy 
        </td>
        <td>
            {% if assignment.latePolicy  == 1 %}
                Late submissions are excepted. A late penalty may be applied.
            {% else %}
                Late submissions are <strong> NOT </strong> accepted. 
            {% endif %}
        </td> 
    </tr>
    
    <tr>
        <td>
            Visibility
        </td>
        <td>
            {% if assignment.gradeVisibility == 1 %}
                Marking results will appear as soon as available.
            {% else %}
                Marking results will only appear <strong> after </strong> the due date.
            {% endif %}
        </td>
    </tr>
    
    <tr>
        <td>
            Max submissions
        </td>
        <td>
            {% if assignment.maxSubmissions == 0 %}
                You may submit files as many times as you like.
            {% else %}
                You may only submit a max of {{ assignment.maxSubmissions }} submissions for this assignment.
            {% endif %}
        </td>
    </tr>
    
    <tr>
        <td>
            Submissions Delay
        </td>
        <td>
            You may submit files every {{ assignment.submissionsDelay }} minutes.
        </td>
    </tr>
</table>



<form action="api/upload_submission?assignmentID={{ assignment.assignmentID }}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="fileToUpload">
    <br>
    <input type="submit" value="Upload Submission" name="submit">
</form>

<br>
<table>
    <tr>
        <th>Submission</th>
        <th>Grade / Feedback</th>
    </tr>
    {% for submission in user_pending_submissions %}
            <tr> 
                <td> 
                    {{ submission.timeStamp  }}
                </td> 
                <td> 
                    Pending                    
                </td> 
            </tr>
    {% endfor %}
    
    {% for submission in user_submission_grades %}
            <tr> 
                <td> 
                    {{ submission.timeStamp  }}
                </td> 
                <td> 
                    <div class="feedback accordion">
                        <h3>{{ submission.grade  }} / {{ submission.total  }}</h3>
                        <div>
                            <p>
                                <pre>
                                    {{ submission.feedback }}
                                </pre>
                            </p>
                        </div>
                    </div>                    
                </td> 
            </tr>
    {% endfor %}
</table>

<script>
$( document ).ready( function() {
        $( ".feedback" ).accordion({heightStyle: "content", 'collapsible' : true, active : false});
    }
);
</script> 
