<table>
    <tr>
        <th> Course </th>
        <th> Assignment </th>
        <th> Due Date </th>
    </tr>
    {% for assignment in tabs['parameters'].assignments %}
        <tr>
            <td>
                <a href="course?course_ID={{ assignment.courseID }}"> {{ assignment.courseName }} - {{ assignment.term }} {{ assignment.year }} </a>  
            </td>
            <td>
                <a href="assignment?assignment_ID={{ assignment.assignmentID }}"> {{ assignment.assignmentName }} </a> 
                
            </td>
            <td>
                {{ assignment.dueDate }}
            </td>            
        </tr>
    {% endfor %}
    

</table>
