{% set assignment = tabs['parameters'].assignment %}

<form action="api/update_assignment" method="post" enctype="multipart/form-data">
    <fieldset>
        <input name="assignmentID" type="hidden" value="{{ assignment.assignmentID }}">
    
        Testing Template   <input type="file" name="testingTemplate">   <br>

        Assignment Name : <input type="text" name="assignmentName" value="{{ assignment.assignmentName }}"><br>
        Assignment URL :  <input type="text" name="assignmentURL"  value="{{ assignment.assignmentURL }}"><br>
        Start Date :      <input type="text" name="startDate"      value="{{ assignment.assignmentStartDate }}" size=25><br>
        Due   Date :      <input type="text" name="dueDate"        value="{{ assignment.assignmentDueDate }}" size=25><br>
        Allow and Flag late submissions : <input type="checkbox" {{ "checked" if assignment.latePolicy == 1 else '' }} name="latePolicy" value="0"><br>
        Wait time between submissions (minutes) : <input type="number" name="submissionsDelay" min="0" max="65535" value="{{ assignment.submissionsDelay }}"><br>
        Max submissions (0 - 255, 0 = infinite) : <input type="number" name="maxSubmissions" min="0" max="255" value="{{ assignment.maxSubmissions }}"><br>
        Show Results Immediately (uncheck to release only after duedate) : <input type="checkbox" {{ "checked" if assignment.gradeVisibility == 1 else '' }} name="gradeVisibility" value="0"><br>
    </fieldset>
    <input type="submit" value="Submit">
</form>
