<form action="api/new_assignment" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>New Assignment Information</legend>
        <br>
        Assignment Type:<br>
        <div class=assignment_types>
            <table>
            {% for testing_unit in tabs['parameters'].testing_units %}
                <tr>
                    <td>
                        <input type="radio" name="testingUnit" value=" {{ testing_unit.testUnitID }}">
                        {{ testing_unit.description }}
                    </td>
                </tr>
            {% else %}
                Found no testing Units. 
            {% endfor %}
            </table>
        </div>
        Testing Template   <input type="file" name="testingTemplate">   <br>
    </fieldset>
    
    <fieldset>
        <legend>Course</legend>
        {% for course in tabs['parameters'].user_courses %}
            <input type="radio" name="courseID" value=" {{ course.courseID }}" required> {{ course.courseName }} - {{ course.displayedTerm }} <br>
        {% else %}
            <p> You don't seem to have any courses </p>
        {% endfor %}
    </fieldset>
    
    <fieldset>
        <legend>Assignment Settings</legend>
        Assignment Name : <input type="text" name="assignmentName" required><br>
        Assignment URL : <input type="text" name="assignmentURL" required><br>
        Start Date : <input type="text" name="startDate" required value="YYYY-MM-DD HH:MM:SS" size=25><br>
        Due   Date : <input type="text" name="dueDate"   required value="YYYY-MM-DD HH:MM:SS" size=25><br>
        Allow and Flag late submissions : <input type="checkbox" checked name="latePolicy" value="0"><br>
        Wait time between submissions (minutes) : <input type="number" name="submissionsDelay" min="0" max="65535" value="0"><br>
        Max submissions (0 - 255, 0 = infinite) : <input type="number" name="maxSubmissions" min="0" max="255" value="0"><br>
        Show Results Immediately (uncheck to release only after duedate) : <input type="checkbox" checked name="gradeVisibility" value="0"><br>
    </fieldset>
    <input type="submit" value="Submit">
</form>
