{% extends '/base_templates/page.html' %}


{% block content %}

<h1> {{ course.courseName }} - {{ course.term}} {{ course.year }} </h1>

{% if course.courseURL != None %}
    Course details can be found at <a href="{{ course.courseURL }}">{{ course.courseURL }}</a>
{% endif %}

<table>
    <tr>
        <th> Assignment </th>
        <th> Due Date </th>
    </tr>
    {% for assignment in user_assignments %}
        <tr>
            <td>
                <a href="assignment?assignment_ID={{ assignment.assignmentID }}"> {{ assignment.assignmentName }} </a> 
                
            </td>
            <td>
                {{ assignment.dueDate }}
            </td>            
        </tr>
    {% endfor %}
    

</table>

{% endblock %}
