{% extends '/base_templates/page.html' %}


{% block content %}
    <table>
        <tr>
            <th> Course </th>
            <th> Assignment </th>
            <th> Due Date / Stats </th>
        </tr>
        
        {% for assignment in user_assignments %}
        <tr>
            <td>
                <a href="course?course_ID={{ assignment.courseID }}"> {{ assignment.courseName }} - {{ assignment.term }} {{ assignment.year }} </a>   
            </td>
            <td>
                <a href="assignment?assignment_ID={{ assignment.assignmentID }}"> {{ assignment.assignmentName }} </a> 
                
            </td>
            <td>
                {{ assignment.dueDate }}
            </td>            
        </tr>
    {% else %}
        <tr> You have no assigments. Either your instructors are giving you a break or you aren't in the classlist of any <a href="courses">courses</a>. </tr>
    {% endfor %}
        
    </table> 
    
{% endblock %}
