{% extends '/base_templates/page.html' %}

{% block content %}
    <form action="api/login" method="post">
        <fieldset>
            <legend>Login Credentials</legend>
            <p>
                <label>Username</label><br>
                <input id="username" name="username" required="" size="10" type="text" value="">
            </p>
        </fieldset>
        <input type="submit" value="Submit">
    </form> 
    
{% endblock %}
