{% extends '/base_templates/page.html' %}

{% from '/macros/tab_macros.html' import tabs  %}

{% block content %}
    <table>
        <tr>
            <td>
                <a href="{{ host }}:9000"> System </a>   
            </td>
        </tr>
        
        <tr>
            <td>
                <a href="{{ host }}:15672/#/queues"> Queues </a>   
            </td>     
        </tr>
    </table> 
{% endblock %}
