{% macro tabs(tabs) %}
    <!-- Tab links -->
    <div class="tab">
        {% for label in tabs['labels'] %}
            <button id="tab-{{ loop.index }}" class="tablinks" onclick="openTab(event, 'tab-content-{{ loop.index }}')" >{{ label }}</button>
        {% endfor %}
    </div>
    {% for panel in tabs['panels'] %}
        <div id="tab-content-{{ loop.index }}" class="tabcontent">
            {% include panel %}
        </div>
    {% endfor %}
    <script>
        $( document ).ready( function(){ $("#tab-1").click() } );
    </script>
{% endmacro %}
