{% macro course_td(course, course_ID) %}
    <td> <a href="index.php?page=course&courseID={{ course_ID }}">{{ course }}</a></td>
{% endmacro %}

{% macro assignment_td(assignment, assignment_ID) %}
    <td> <a href="index.php?page=assignment&assignmentID={{ assignment_ID }}">{{ assignment }}</a></td>
{% endmacro %}

{% macro stats_td(due_date, stats) %}
    <td>
        {% if due_date != '' %}
            {{ due_date }}
        <hr>
            <ul> <li> {{ stats }} </li> </ul>
        {% endif %}
    </td>
{% endmacro %}


{% macro coursePermissionsTable(courses, permissions) %}
    Courses:
    <br>
    <table>
        <tr>
            <th> Course / Permissions </th>
            {% for key,value in permissions %}
              <th>  {{ key }} </th>
            {% endfor %}
        </tr>
        {% for course in courses %}
            <tr>
                <td>
                    {{ course.courseName }} | {{ course.displayedTerm }}<input class="course" type="checkbox" name="courseID" value={{ course.courseID }} onclick="updateRow(event)">
                </td>
                {% for key,value in course.permissions %}
                    <td> 
                        {% if value %}
                            <input type="checkbox" 
                                name="{{ key }}" 
                                value="{{ key }}" 
                                class="permission" 
                                onclick="addCourse(event); {{ 'updateRow(event)' if key =='is_admin' else '' }}"
                                
                            >
                        {% endif %} 
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro permissionsTable(permissions) %}
    Default Permissions:
    <br>
    <table>
        <tr>
            {% for key,value in permissions %}
              <th>  {{ key }} </th>
            {% endfor %}
        </tr>
        <tr>
        {% for key,value in permissions %}
            <td> 
                {% if value %}
                    <input type="checkbox" 
                        name="{{ key }}" 
                        value="{{ true }}" 
                        class="{{ 'is_admin' if key =='is_admin' else 'permission' }}" 
                        onclick="{{ 'updateRow(event)'if key =='is_admin'else 'updateAdmin(event)' }}"
                        
                    >
                {% endif %} 
            </td>
        {% endfor %}
        </tr>
    </table>
{% endmacro %}

{% macro course_term_year(courseName, term, year, userCourses) %}
    {% for course in userCourses if (course.courseName == courseName and course.term == term and course.year == year)  %}

    {% else %}    
        <input type="checkbox" class="course_term_year" name="{{ courseName }}_{{ term }}_{{ year }}" value="{'courseName':'{{ courseName }}','term':'{{ term }}','year':'{{ year }}' }">
    {% endfor %}
{% endmacro %}



